<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Bin_Shop</title>
</head>

<body>
    <h1 class="test">Bin_Shop</h1>
    <h2><a href='/'>Home</a></h2>
          <form action="/searchByProductName" method="post">
            <div >
                <label  for="txtName"> Product Name</label>
                <input type="text"  name="txtName" id="txtName">
            </div>
            <input type="submit" class="btn btn-primary" value="Search by product name">
        </form>
    </form>
    <hr>
    </div> -->
    <hr>
    <table border="1" width="50%">
        <tr>
            <td>id</td>
            <td>Name</td>
            <td>Price</td>
            <td>Category</td>
            <Td>Picture</Td>
        </tr>
        {{#each this.products}}
        <tr>
            <td>{{_id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{cat}}</td>
            <td><img src="{{picURL}}" width="120" height="100" /></td>
        </tr>
        {{/each}}
    </table>
</body>

</html>