<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/css.css">
    <title>ATN_Shop</title>
    {{!-- //css --}}
    <style>@-webkit-keyframes my {
    0% { color: #F8CD0A; }
    50% { color: #fff; }
    100% { color: #F8CD0A; }
    }
    @-moz-keyframes my {
    0% { color: #F8CD0A; }
    50% { color: #fff; }
    100% { color: #F8CD0A; }
    }
    @-o-keyframes my {
    0% { color: #F8CD0A; }
    50% { color: #fff; }
    100% { color: #F8CD0A; }
    }
    @keyframes my {
    0% { color: #F8CD0A; }
    50% { color: #fff; }
    100% { color: #F8CD0A; }
    }
    .test {
    background:#3d3d3d;
    font-size:24px;
    font-weight:bold;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
    text-align: center;
    }

    </style>
</head>

<body>
    <header>
    <h1 class="test">Bin_Shop</h1>
    <script>alert('Welcome to my page!!')</script>
    <img src="img/main.jpg" alt="Cat">

    </header>
    <main>
        <h2><a href='/'>Home</a></h2>
        <h2><a href="/allproducts">All-Products</a></h2>
        <h3>{{ht}}</h3>
    <div style="width: 50%;">
        <form action="/insert" method="post">
            <div style="padding: 10px 0;">
                <label style="width: 20%;" for="txtName"> Product Name</label>
                <input type="text"  name="txtName" id="txtName">
                <span style="color: red;">{{nameErr}}</span>
            </div>
            <div  style="padding: 10px 0;">
                <label style="width: 20%;" for="txtPrice"> Price</label>
                <input type="text"  name="txtPrice" id="txtPrice">
            </div>
            <div  style="padding: 10px 0;">
                <label style="width: 20%;" for="txtCategory"> Category</label>
                <select  name="txtCategory" id="txtCategory">
                    <option value="Búp Bê">Búp Bê</option>
                    <option value="Lego">Lego</option>
                    <option value="Mô Hình">Mô Hình</option>
                    <option value="Lắp Ráp">Lắp Ráp</option>
                    <option value="Gấu Bông">Gấu Bông</option>
                    <option value="Điều Khiển Từ Xa">Điều Khiển Từ Xa</option>
                </select>
            </div>
            <div  style="padding: 10px 0;">
                <label style="width: 20%;" for="txtURL"> Picture</label>
                <input type="text"  name="txtURL" id="txtURL">
                <span style="color: red;">{{picError}}</span>
            </div>
            <input style="margin-left: 20.5%;" type="submit" class="btn btn-primary" value="Insert">
        </form>
        <hr>
        <form action="/searchByCategory" method="post">
            <div >
                <label  for="txtCategory"> Category</label>
                <select  name="txtCategory" id="txtCategory">
                    <option value="all">All</option>
                    <option value="Búp Bê">Búp Bê</option>
                    <option value="Lego">Lego</option>
                    <option value="Mô Hình">Mô Hình</option>
                    <option value="Lắp Ráp">Lắp Ráp</option>
                    <option value="Gấu Bông">Gấu Bông</option>
                    <option value="Điều Khiển Từ Xa">Điều Khiển Từ Xa</option>
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Search by category">
        </form>
        <hr>
        <form action="/searchByProductName" method="post">
            <div >
                <label  for="txtName"> Product Name</label>
                <input type="text"  name="txtName" id="txtName">
            </div>
            <input type="submit" class="btn btn-primary" value="Search by product name">
        </form>
    </div>

    <hr>
    <table border="1" width="50%">
        <tr>
            <td>id</td>
            <td>Name</td>
            <td>Price</td>
            <td>Category</td>
            <Td>Picture</Td>
            <td>Edit</td>
        </tr>
        {{#each products}}
        <tr>
            <td>
                <a onclick="return confirm('Are your sure?')" href="/delete/{{_id}}"> {{_id}}</a>
            </td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{cat}}</td>
            <Td><img src="{{picURL}}" width="120" height="100" /></Td>
            <td>
                <a href="/edit/{{_id}}">Edit</a>
            </td>
        </tr>
        {{/each}}
    </table>
    </main>
</body>
<footer></footer>
</html>
